body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 10%;
}

h1 {
    font-size: 4em;
    text-transform: uppercase;
}

#troll-input {
    font-size: 4em; 
    color: white;
    background-color: transparent;
    border: none;
    text-align: center;
    outline: none;
    width: 100%;
    caret-color: white;
}

#troll-input::placeholder {
    color: transparent;
}

.hidden {
    display: none;
}

#loading-container {
    width: 100%;
    height: 50px;
    background-color: transparent;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-bar {
    width: 0;
    height: 100%;
    background-color: gray;
    position: relative;
    transition: width 5s linear;
}

#loading-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: white;
}

#error-video {
    width: 100%;
    height: auto;
    background-color: black;
}
