body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 10%;
}

h1 {
    font-size: 4em;
    text-transform: uppercase;
}

#troll-input {
    font-size: 4em; 
    color: white;
    background-color: transparent;
    border: none;
    text-align: center;
    outline: none;
    width: 100%;
    caret-color: white;
}

#troll-input::placeholder {
    color: transparent;
}

.hidden {
    display: none;
}

/* Styl wideo */
#error-video {
    width: 100vw; /* Pełna szerokość ekranu */
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black; /* Czarny ekran w tle */
}

#error-video:fullscreen {
    width: 100%;
    height: 100%;
}
