body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 10%;
}

h1 {
    font-size: 4em;
    text-transform: uppercase;
}

#troll-input {
    font-size: 4em; 
    color: white;
    background-color: transparent;
    border: none;
    text-align: center;
    outline: none;
    width: 100%;
    caret-color: white;
}

#troll-input::placeholder {
    color: transparent;
}

#error-message {
    font-size: 2em;
}

.hidden {
    display: none;
}

/* Dodane dla wideo */
#error-video {
    width: 100vw;  /* Szerokość na pełną szerokość karty */
    height: 100vh; /* Wysokość na pełną wysokość karty */
    object-fit: cover; /* Dopasowanie wideo */
}
